@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

html, body{
    height: 100%;
    width: 100%;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    box-sizing: border-box;
}

header{
    display: block;
    max-width: 900px;
    margin: 0 auto;
}

.header__titulo{
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
}

.header__contenido__titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.header__contenido__descripcion{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.members{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 20px;
    max-width: 900px;
    margin: 0 auto;
}

.members__member:nth-child(2n){
    margin-top: 2rem;
}

.members__member__content{
    display: grid;
    grid-template-columns: 1fr 1rem;
}

.members__member__content__name{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.members__member__content__img{
    max-width: 100%;
    object-fit: cover;
}

.members__member__content__carrear{
    writing-mode: vertical-lr;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 10px;
    height: 200px;
}

footer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #A9A9A9;
}

.footer__link{
    font-weight: 700;
    text-decoration: none;
    color: #A9A9A9;
}

@media (min-width:600px){
    header{
        display: grid;
        grid-template: 1fr / 1fr 1fr;
    }
    .header__contenido__descripcion{
        max-width: 440px;
    }
    .members{
        grid-template-columns:1fr 1fr 1fr;
        margin-top:  3rem;
    }
    .members__member:nth-child(2n){
        margin-top: 0rem;
    }
    .members__member:nth-child(3n+2){
        margin-top: 2rem;
    }
    .members__member__content__name{
        font-size: 18px;
    }
    .members__member__content__carrear{
        font-size: 12px;
    }
}

@media (min-width:1000px){
    .members{
        gap: 2rem 6rem;
    }
    
}